
:root {
  --white: #FFFFFF;
  --black: #000000;

  --neutral-color-backgound: #AF9F8B;
  --basic-grey: #C5C5C5;
  --basic-gray-background: #F1F5F7;
  --basic-greylight: #C5C5C5;
  --spec-greylight:#EAEAEA;
  --spec-greylight-2: #e5e5e5;
  --form-bc-grey: #F4F4F4;

  --spec-white: #F3F7F9; // (контакты в шапке)
  --spec-white-2: #F1F5F7; // (навигация в шапке)

  --basic-darkblue: #293449;
  --active-darkblue: #161D29;
  --active-icon-blue: #3D546F;
  --nav-darkblue: #32425C;
  --nav-basic-shadow: rgba(41, 52, 73);
  --nav-action: #1D2739;
  --spec-social-icon: #212A3A;
  --spec-title-bg: #F2F6F8;

  --basic-red: #EE3643;
  --hover-red: #ca2c37;
  --active-red: #BA2732;
  --logo-basic-shadow: rgba(181, 41, 51);
  --logo-active-shadow: rgba(141, 30, 38);

  --basic-green: #63A63E;
  --hover-green: #5FBB2D;
  --active-green: #518534;
  --spec-darkgreen: #367315;
  --spec-lightgreen: #8ED78F;

  --spec-orange: #FFBF47;
  --spec-lightblue: #3BBCE3;
  --spec-lilac: #DC91D8;
  --spec-lightgreen: #8ED78F;
  --spec-lightorange: #FFC047;

  --mustard-color: #FFD180;

  --popular-header-br: #F9F5F0;
  --popular-title: #32425C;

  --basic-beige: #F7F3EC;
  --scale-br: #d7dcde;
  --bar-br: #00CA74;
  --togle-br: #ABABAB;
  --togle-shadow: rgba(171, 171, 171, 0.3);
  --decorative-dash: #444444;

  --text-active-opacity: rgba(255, 255, 255, 0.5);
  --opacity-white-30: rgba(255, 255, 255, 0.3);
  --lightgrey: rgba(197, 197, 197, 0.3);
  --opacity-black-15: rgba(0, 0, 0, 0.15);
  --lightgrey-2: rgba(169, 169, 169, 0.3);
  --old-price-color: #A9A9A9;
  --brands-border: #eaeaea;
  --btn-shadow-grey: #405069;

}
