// Для отображения логов в ДЗ (временно)
.header__logo {
  background: #EE3643;
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
  width: 220px;
  text-align: center;
  margin: 20px 0px 20px 0px;
}
