// Шрифты------------------------------------------------------------------------------------------

@font-face{
  font-family: 'PT Sans';
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/ptsans.woff2") format('woff2');
  src: url("../fonts/ptsans.woff") format('woff');
}

@font-face{
  font-family: 'PT Sans';
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/ptsansbold.woff2") format('woff2');
  src: url("../fonts/ptsansbold.woff") format('woff');
}

@font-face{
  font-family: 'Cuprum';
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/cuprum.woff2") format('woff2');
  src: url("../fonts/cuprum.woff") format('woff');
}

@font-face{
  font-family: 'Cuprum';
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/cuprumbold.woff2") format('woff2');
  src: url("../fonts/cuprumbold.woff") format('woff');
}

@font-face{
  font-family: 'Cuprum';
  font-weight: normal;
  font-style: italic;
  src: url("../fonts/cuprumitalic.woff2") format('woff2');
  src: url("../fonts/cuprumitalic.woff") format('woff');
}

@font-face{
  font-family: 'Cuprum';
  font-weight: bold;
  font-style: italic;
  src: url("../fonts/cuprumbolditalic.woff2") format('woff2');
  src: url("../fonts/cuprumbolditalic.woff") format('woff');
}

// Кастомные свойства------------------------------------------------------------------------------

:root {
  --white: #FFFFFF;
  --black: #000000;

  --basic-gray-background: #F1F5F7;

  --basic-darkblue: #293449;
  --active-darkblue: #161D29;
  --nav-darkblue: #32425C;
  --nav-basic-shadow: rgba(41, 52, 73);

  --basic-red: #EE3643;
  --hover-red: #ca2c37;
  --active-red: rgba(186, 39, 50);
  --logo-basic-shadow: rgba(181, 41, 51);
  --logo-active-shadow: rgba(141, 30, 38);

  --basic-green: #63A63E;
  --hover-green: #5FBB2D;
  --active-green: #518534;
  --spec-darkgreen: #367315;
  --spec-lightgreen: #8ED78F;


  --text-active-opacity: rgba(255, 255, 255, 0.5);

}

// CSS animation-----------------------------------------------------------------------------------



// Независимые классы------------------------------------------------------------------------------

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0px 10px 0px 10px;

  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(100%);
}

.logo {
  background-color: var(--basic-red);
  box-shadow: 0px 5px 0px var(--logo-basic-shadow);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 0.3s;

  &:active {
    background-color: var(--active-red);
    box-shadow: 0px 5px 0px var(--logo-active-shadow);
  }
}

// Grid and other----------------------------------------------------------------------------------



// page--------------------------------------------------------------------------------------------

.page {
  height: 100%;

    &__body {
      // Grid сетка страницы
      min-height: 100%;
      display: grid;
      grid-template-rows: min-content 1fr min-content;
      align-content: start; // распределение пространства вдоль блочной оси grid контейнера

      position: relative;
      margin: 0;
      padding: 0;
      border: 0;

      font-family: "Cuprum", "PT Sans", sans-serif;
      font-size: 18px;
      background-color: var(--white);
    }

    &__header {
      background-color: var(--basic-gray-background);
    }

    &__main {

    }

    &__footer {

    }
}

// header------------------------------------------------------------------------------------------

// header-top

.header-top {
  background-color: var(--basic-darkblue);
  margin: 0px 0px 42px 0px;


  &__row {
    display: flex;
    align-items:center;
    height: 42px;
  }

  &__logo {
    height: 100%;
    width: 220px;
    position: relative;
  }


  &__search {
    background-color: var(--basic-darkblue);
    height: 100%;
    display: flex;
    flex: 1 1 auto;

    // hover, action, focus
    &:hover .header-top__search-icon {
      opacity: 1;
    }

    &:active .header-top__search-input {
      opacity: 0.3;
    }
    &:active .header-top__search-icon {
      opacity: 0.3;
    }
    &:focus-within .header-top__search-icon path {
      fill: var(--basic-red);
    }
    &:focus-within .header-top__search-icon {
      opacity: 1;
    }
    &:focus-within {
      background-color: var(--white);
    }
  }

  &__search-submit {
    background-color: inherit;
    cursor: pointer;
    border: none;
    padding: 0px 7px 0px 17px;
    transition-duration: 0.3s;
  }

  &__search-icon {
    opacity: 0.3;
    transition-duration: 0.3s;

    &:hover {
      opacity: 1;
    }
  }

  &__search-input {
    background-color: inherit;
    cursor: pointer;
    outline:none;
    border: none;
    width: 100%;
    font-family: inherit;
    transition-duration: 0.3s;

    &::placeholder {
      color: var(--white);
    }
    // Убирается кнопка "Х" очистить поле
    &::-webkit-search-cancel-button {
      display: none;
    }
  }

// header-top__menu
  &__action {
    height: 100%;
    display: flex;
    list-style: none;

    // обнуление отступов
    padding: 0;
    margin: 0;

    li {
      list-style: none;
    }
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    min-width: 150px;
    height: 100%;
    color: var(--white);
    position: relative; // для позиционирования иконок

    span {
      padding: 0px 0px 0px 5px;
    }
  }

  &__link--bookmark {
    transition-duration: 0.3s;

    &::before {
      content: "";

      position: absolute;
      transform: translateY(-50%);
      top: 50%;
      left: 12px;
      width: 15px;
      height: 15px;

      background: url("../img/icons/header/bookmark-icon.svg") no-repeat;

      opacity: 0.3;
      transition-duration: 0.3s;
    }

    &:hover::before {
      opacity: 1;
    }
    &:active {
      color: var(--text-active-opacity);
      background-color: var(--active-darkblue);
    }
    &:active::before {
      opacity: 0.3;
    }
  }

  &__link--shopcart {
    transition-duration: 0.3s;

    &::before {
      content: "";

      position: absolute;
      top: 13px;
      left: 15px;
      width: 15px;
      height: 15px;

      background: url("../img/icons/header/shopcart-icon.svg") no-repeat;

      opacity: 0.3;
      transition-duration: 0.3s;
    }

    &:hover::before {
      opacity: 1;
    }
    &:active {
      color: var(--text-active-opacity);
    }
    &:active::before {
      opacity: 0.3;
    }
  }

  &__link--order {
    background-color: var(--basic-green);
    transition-duration: 0.3s;

    &:hover {
      background-color: var(--hover-green);
    }
    &:active {
      color: var(--text-active-opacity);
    }
  }
}

// header-main

.header-main {
  display: flex;
  margin: 0px 0px 40px 0px;

    &__title {
      box-sizing: border-box;
      padding: 0px 0px 0px 0px;
      margin: 0px 0px 0px 0px;
      //Шрифт
      color: var(--basic-red);
      font-size: 16px;
      line-height: 23px;
      font-style: italic;
    }

		&__contacts {
		}

		&__phone {
		}

		&__address {
		}

		&__login-form {
		}
}

.login-form {

		&__button {
		}

		&__button--login {
		}

		&__icon {
		}

		&__button--registration {
		}
}

.nav {
  background-color: var(--nav-darkblue);
  box-shadow: 0px 5px 0px var(--nav-basic-shadow);
  margin: 0px 0px 65px 0px;

  &__list {
    display: flex;
    list-style: none;

    li {
      list-style: none;
    }
  }

  &__item {
    flex: 1 1 auto;

    a {
      text-decoration: none;
    }
  }

  &__link {
    color: var(--white);
    line-height: 24px;
  }

  &__link--current-link {
  }
}

