// Шрифты------------------------------------------------------------------------------------------

@import "_fonts";

// Кастомные свойства------------------------------------------------------------------------------

@import "_variables";

// CSS animation-----------------------------------------------------------------------------------
@keyframes bounce {
  0% {transform: translateY(350px);}
  100% {transform: translateY(0);}
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}
// Миксины-----------------------------------------------------------------------------------------
@mixin button-reset {
  padding: 0;
  border: none;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

// Независимые классы------------------------------------------------------------------------------

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0px 10px 0px 10px;
  overflow: hidden;

  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(100%);
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  border-top: 7px solid var(--basic-red);
  box-shadow: 00px 20px 20px var(--opacity-black-15);
  background-color: var(--white);
  z-index: 100;

  &__close { // Кнопка закрытия модального окна
    @include button-reset;
    position: absolute;
    top: 14px;
    right: 11px;
    width: 21px;
    height: 21px;
    background-color: transparent;

    &::before,
    &::after {
        content: "";
        position: absolute;
        width: 27px;
        height: 4px;
        top: 8px;
        left: -3px;
        background-color: var(--basic-red);
        border-radius: 2px;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }

    &:hover::before,
    &:hover::after,
    &:focus::before,
    &:focus::before {
      background-color: var(--hover-red);
    }
  }
}

.hidden {
  display: none;
}

.show {
  display: block;
  animation: bounce 0.6s;
}

.form-error {
  animation: shake 0.6s;
}

.filled {
  background-color: var(--basic-red);
}

img {
  max-width: 100%;
  height: auto;
}

.logo {
  background-color: var(--basic-red);
  box-shadow: 0px 5px 0px var(--logo-basic-shadow);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 0.3s;

  &:active {
    background-color: var(--active-red);
    box-shadow: 0px 5px 0px var(--logo-active-shadow);
  }
}

.pop-button {
  background-color: var(--basic-red);
  padding: 11px 0px 9px 0px;
  text-align: center;
  text-decoration: none;
  transition-duration: 0.3s;
  // Шрифты
  color: var(--white);
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;

  &:hover {
    background-color: var(--hover-red);
  }

  &:active {
    background-color: var(--active-red);
  }
}

// page--------------------------------------------------------------------------------------------

.page {
}

.body {
  min-height: 100vh;
  box-sizing: border-box;
  // Grid сетка страницы
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start; // распределение пространства вдоль блочной оси grid контейнер
  position: relative;
  margin: 0;
  padding: 0;
  border: 0;
  background-color: var(--white);
  //Шрифты
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
}

.header {
  background-color: var(--basic-gray-background);
}

.main {

}

.footer {

}

// header (START)------------------------------------------------------------------------------------------

// header-top

.header-top {
  background-color: var(--basic-darkblue);
  margin: 0px 0px 0px 0px;

  &__row {
    display: flex;
    align-items:center;
    height: 42px;
    overflow: visible;
  }

  &__logo {
    height: 100%;
    width: 220px;
    position: relative;
  }

  &__search {
    background-color: var(--basic-darkblue);
    height: 100%;
    display: flex;
    flex: 1 1 auto;

    // hover, action, focus
    &:hover .header-top__search-icon {
      opacity: 1;
    }

    &:active .header-top__search-input {
      opacity: 0.3;
    }
    &:active .header-top__search-icon {
      opacity: 0.3;
    }
    &:focus-within .header-top__search-icon path {
      fill: var(--basic-red);
    }
    &:focus-within .header-top__search-icon {
      opacity: 1;
    }
    &:focus-within {
      background-color: var(--white);
    }
  }

  &__search-submit {
    @include button-reset;
    background-color: inherit;
    padding: 0px 7px 0px 17px;
    transition-duration: 0.3s;
  }

  &__search-icon {
    opacity: 0.3;
    transition-duration: 0.3s;

    &:hover {
      opacity: 1;
    }
  }

  &__search-input {
    background-color: inherit;
    cursor: pointer;
    outline:none;
    border: none;
    width: 100%;
    font-family: inherit;
    transition-duration: 0.3s;

    &::placeholder {
      color: var(--white);
    }
    // Убирается кнопка "Х" очистить поле
    &::-webkit-search-cancel-button {
      display: none;
    }
  }

// header-top__menu
  &__action {
    height: 100%;
    display: flex;
    list-style: none;

    // обнуление отступов
    padding: 0;
    margin: 0;

    li {
      list-style: none;
    }
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    min-width: 150px;
    height: 100%;
    color: var(--white);
    position: relative; // для позиционирования иконок

    span {
      padding: 0px 0px 0px 5px;
    }
  }

  &__link--bookmark {
    transition-duration: 0.3s;

    &::before {
      content: "";
      display: inline-block;
      vertical-align: center;

      width: 16px;
      height: 16px;
      margin: 0px 7px 0px 0px;


      background-image: url("../img/icons/header/bookmark-icon.svg");
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: contain;

      opacity: 0.3;
      transition-duration: 0.3s;
    }

    &:hover::before {
      opacity: 1;
    }
    &:active {
      color: var(--text-active-opacity);
      background-color: var(--active-darkblue);
    }
    &:active::before {
      opacity: 0.3;
    }
  }

  &__link--shopcart {

    &::before {
      content: "";
      display: inline-block;
      vertical-align: center;

      width: 16px;
      height: 16px;
      margin: 0px 7.5px 0px 0px;

      background: url("../img/icons/header/shopcart-icon.svg");
      background-repeat: no-repeat;
      background-position: 50% 50%;

      opacity: 0.3;
      transition-duration: 0.3s;
    }

    &:hover::before {
      opacity: 1;
    }
    &:active {
      color: var(--text-active-opacity);
    }
    &:active::before {
      opacity: 0.3;
    }
  }

  &__link--order {
    background-color: var(--basic-green);
    transition-duration: 0.3s;

    &:hover {
      background-color: var(--hover-green);
    }
    &:active {
      color: var(--text-active-opacity);
    }
  }
}

// header-main

.header-main {
  padding: 46px 0px 40px 0px;

    &__row {
      display: flex;
    }

    &__title {
      flex: 0 1 33.333%;

      box-sizing: border-box;
      padding: 0px 0px 0px 30px;
      margin: -4px 0px 0px 0px;
      //Шрифт
      font-family: 'Cuprum';
      font-weight: normal;
      font-style: italic;
      color: var(--basic-red);
      font-size: 16px;
      line-height: 24px;
      font-style: italic;
    }

    &__contacts {
      flex: 0 1 33.333%;
      padding: 0px 30px 0px 0px;

      display:flex;
      flex-direction:column;
      justify-content: center;
      align-items: center;

      min-width: 270px;
    }

    &__phone {
      text-decoration: none;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0px 5px 0px 0px;
      min-height: 45px;
      min-width: 270px;
      border: solid 3px var(--white);
      box-sizing: border-box;

      //Шрифты
      font-family: 'Cuprum';
      font-weight: bold;
      font-size: 21px;
      line-height: 30px;
      color: var(--basic-red);

      &::before {
        content: "";
        display: inline-block;
        vertical-align: center;

        width: 19px;
        height: 19px;
        margin: 0px 17px 0px 0px;

        background: url("../img/icons/header/phone-icon.svg");
        background-repeat: no-repeat;
        background-position: 50% 50%;

        opacity: 1;
      }
    }

    &__address {
      margin: 2px 0px 0px 0px;
      text-align: center;
      //Шрифты
      font-size: 14px;
      line-height: 24px;
    }

    &__login-form {
      flex: 0 1 33.333%;
      display: flex;
      flex-wrap: wrap;
      justify-content:flex-end;
    }
}

.login-form {

    &__button {
      display: flex;
      justify-content: center;
      align-items: center;

      text-decoration: none;
      background-color: var(--white);
      height: 45px;
      margin: 0px 0px 0px 10px;
      padding: 0px 24.5px 0px 24.5px;
      transition-duration: 0.3s;
      //Шрифты
      font-size: 21px;
      line-height: 21px;
      color: var(--black);

      &:hover {
        color: var(--basic-red);
      }

      &:hover .login-form__icon path{
        fill: var(--active-icon-blue);
        transition-duration: 0.3s;
      }

      &:active {
        color: var(--basic-greylight);
      }

      &:active .login-form__icon path{
        fill: var(--basic-grey);
      }
    }

    &__button--login {
      display: flex;
    }

    &__icon {
      margin: 0px 6px 0px -6px;
    }

    &__button--registration {
    }
}

.logined-form {

  &__user-wrap {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    background-color: var(--white);
    height: 45px;
    margin: 0px 0px 0px 3px;
    padding: 0;
    transition-duration: 0.3s;
  }

  &__user {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    // Шрифты
    font-family: 'Cuprum';
    font-weight: normal;
    font-size: 21px;
    line-height: 21px;
    color: var(--black);
  }

  &__user-icon {
    margin-right: 20px;
  }

  &__logout {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-left: 20px;
  }

  &__logout-icon {
  }

  &__user-menu {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  &__user-menu-item {
    text-decoration: none;
    // Шрифты
    font-family: 'Cuprum';
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    color: var(--popular-title);
  }

  &__user-menu-item--profile {
  }
}

.nav {
  margin: 0px 0px 60px 0px;

  &__list {
    // обнуление отступов
    padding: 0;
    margin: 0;
    list-style: none;

    background-color: var(--nav-darkblue);
    box-shadow: inset 0px -5px 0px var(--nav-basic-shadow);
    height: 60px;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;

    li {
      list-style: none;
    }
  }



  &__link {
    text-decoration: none;
    height: 100%;
    padding: 0px 28.3px;
    cursor: pointer;
    display: flex;
    align-items:center;
    transition-duration: 0.3s;
    //Шрифты
    color: var(--white);
    line-height: 24px;

    &:hover {
      background-color: var(--nav-basic-shadow);
    }

    &:active {
      background-color: var(--nav-action);
      box-shadow: inset 0px -5px 0px var(--nav-basic-shadow);
      color: var(--text-active-opacity);
    }
  }

  &__link--current-link { // Текущая выбранная страница
    &:hover,
    &:active,
    &:focus {
      background-color: var(--nav-darkblue);
      box-shadow: inset 0px -5px 0px var(--nav-basic-shadow);
      color: var(--white);
    }
  }
}

// header (END)------------------------------------------------------------------------------------------

// main (START)------------------------------------------------------------------------------------------

// features

.features {
  margin: 59px 0px 59px 0px;

  &__wrap {
    // Grid сетка
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-gap: 20px;
    align-items: start;
    grid-template-areas:
      "f1 f2 f3"
      "sl sl f4"
      "sl sl f5";

      // other
      margin: 0px 0px 0px 0px;
      padding: 0px 0px 0px 0px;
      color: var(--white);
  }

  &__item {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 20px 10px 21px 23px;
    position: relative;

    img {
      margin: 0 auto;
      object-fit: contain;
      padding: 0px 0px 0px 0px;
    }

    &:nth-child(1) {
      grid-area: f1;
      background-color: var(--spec-orange);
    }

    &:nth-child(2) {
      grid-area: f2;
      background-color: var(--spec-lightblue);
    }

    &:nth-child(3) {
      grid-area: f3;
      background-color: var(--spec-lilac);
    }

    &:nth-child(4) {
      grid-area: f4;
      background-color: var(--spec-lightgreen);
    }

    &:nth-child(5) {
      grid-area: f5;
      background-color: var(--spec-lightorange);
    }
  }

  &__item--new {
    position: relative;
    overflow: hidden;
    &::after {
      content: "NEW";
      display: flex;
      justify-content: center;
      align-items: center;

      width: 100px;
      height: 30px;
      top: 7px;
      right: -26px;
      position: absolute;
      // Шрифты
      font-family: 'Cuprum', 'Arial', sans-serif;
      font-size: 14px;
      line-height: 18px;
            width: 100px;
      height: 30px;

      background-color: var(--basic-red, #EE3643);
      transform: rotate(45deg);
      color: var(--white, white);
      text-transform: uppercase;
    }
  }

  &__item-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  &__item-title {
    margin: 0 0 14px;
    overflow: hidden;
    //Шрифты
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    word-break: break-word;
  }

  &__button {
    background-color: var(--opacity-white-30);
    cursor: pointer;
    box-sizing: border-box;
    display: flex;
    justify-content:center;
    padding: 10px 0px;
    min-width: 135px;
    // Шрифты
    text-decoration: none;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: var(--white);

    &:hover {
      background-color: var(--lightgrey);
    }

    &:active {
      background-color: var(--lightgrey-2);
    }
  }

  &__slider {
    grid-area: sl;
  }
}

// Slider

.slider-catalog {
  background-color:var(--neutral-color-backgound);
  position: relative;


  &__item {
    color: var(--white);
    height: 266px;
  }

  &__item--1 {
    background-image: url("../img/features-slider/1.jpg");
    background-repeat: no-repeat;
  }

  &__item--2 {
    background-image: url("../img/features-slider/2.jpg");
    background-repeat: no-repeat;
  }

  &__title {
    padding: 23px 0px 0px 24px;
    margin: 0px 0px 0px 0px;
    //Шрифты
    font-weight: bold;
    font-size: 36px;
    line-height: 36px;
    text-transform: uppercase;
  }

  &__text {
    //Шрифты
    font-size: 18px;
    line-height: 24px;
    font-family: 'Cuprum', 'Arial', sans-serif;
    margin: 0;
    margin-left: 24px;
    margin-top: 5px;
  }

  &__arrows {
    button {
      position: absolute;
      border: none;
      background-color: transparent;
    }
  }

  &__arrow-prew {
    background-image: url("../img/features-slider/slider-arrow-left.svg");
    cursor: pointer;
    width: 22px;
    height: 40px;
    top: 122px;
    left: 25px;

    &:focus {
      outline: none;
    }

    &:disabled {
      cursor: not-allowed;
    }
  }

  &__arrow-next {
    background-image: url("../img/features-slider/slider-arrow-left.svg");
    transform: scale(-1, 1);
    width: 22px;
    height: 40px;
    top: 122px;
    right: 21px;
    cursor: pointer;

    &:focus {
      outline: none;
    }

    &:disabled {
      cursor: not-allowed;
    }
  }

  &__dots {
    display: flex;
    justify-content: center;
    position: absolute;
    left:0;
    bottom: 36px;
    width: 100%;

    button:last-child{
      margin-right: 0;
    }
  }

  &__dot {
    background-color: var(--white);
    border: 2px solid var(--white);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 0px 10px 0px 0px;
    padding: 0px 0px 0px 0px;
    cursor: pointer;

    &:focus {
      outline: none;
    }
  }

  &__dot--selected {
    background-color: var(--basic-red);
  }

  &__link {
    text-decoration: none;
    min-width: 192px;
    position: absolute;
    bottom: 27px;
    left: 24px;
  }
}

// popular-header

.popular-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: var(--popular-header-br);
  height: 89px;


  &__title {
    margin: 0;
    padding: 29px;
    // Шрифты
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
    color: var(--popular-title);
    text-transform: uppercase;
  }

  &__button {
    margin-right: 18px;
    min-width: 193px;
  }
}
// Produccts

.products {

  &__header {
  }

  &__list {
    list-style: none;
    padding: 20px 0px 70px 0px;
    margin: 0;
    // Grid сетка
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-column-gap: 20px;
    // Flex колонки
    li {
      display: flex;
    }
  }

  &__item {
  }
}

// Карточка товара
.products-card {
  display: flex;
  flex-direction:column;
  align-items: center;
  text-align: center;
  min-height: 318px;
  position: relative;
  padding: 0px 0px 21px 0px;
  box-sizing: border-box;

  border: 1px solid var(--spec-greylight);

  &:hover {
    box-shadow: 0 4px 20px var(--opacity-black-15);
  }

  &:hover .products-card__buttons { // Появление карточки товара
    opacity: 1;
    transform: translateY(0);
  }

  &__title {
    order: 2;
    margin: 0;
    padding: 0px 15px;
    flex: 1 0 auto;
    // Шрифты
    font-family: 'PT Sans';
    font-weight: bold;
    font-style: normal;
    font-size: 18px;
    line-height: 20px;
  }

  &__img {
    order: 1;
    display: flex;
    align-items: center;
    justify-content:center;
    box-sizing: border-box;
    padding-bottom: 10px;
    padding-right: 7px;
    width: 100%;
    height: 179px;

    img {
      max-width: 100%;
      max-height: 164px;
      object-fit: contain;
    }
  }

  &__price {
    order: 3;
    display: flex;
    flex-direction: column;
    margin: -6.5px 0px;
    // Шрифты
    font-family: 'PT Sans';
    font-weight: bold;
    font-style: normal;
    font-size: 17px;
    line-height: 18px;
  }

  &__price-old {
    margin: 6.5px 0px;
    color: var( --old-price-color);
  }

  &__price-new {
    margin: 6.5px 0px;
    background-color: var(--basic-red);
    color: var(--white);
    border-radius: 5px;
    padding: 10px 35px 10px 32px;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      right: -11px;
      top: 0;
      border-left: 20px solid var(--basic-red);
      border-top: 19px solid var(--white);
      border-bottom: 19px solid var(--white);
    }
  }

  &__buttons {
    order: 3;
    position: absolute;
    top: 0px;
    left: 0px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: var(--white);
    width: 100%;
    height: 179px;

    //Для анимации
    opacity: 0;
    transform: translateY( 10px);
    transition: opacity 0.5s, transform 0.3s;
  }

  &__button {
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 135px;
    min-height: 38px;
    cursor: pointer;
    box-sizing: border-box;
    margin-bottom: 10px;

    &:not(:first-child) {
      margin-bottom: 20px;
    }

    // Шрифты
    font-family: 'Cuprum';
    font-weight: normal;
    font-style: normal;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
  }

  &__button--buy {
    background-color: var(--basic-green);
    color: var(--white);
    border-bottom: 3px solid var(--spec-darkgreen);
    padding-right: 12px;

    &::before {
      content: "";
      display: inline-block;
      vertical-align: center;

      width: 15px;
      height: 15px;
      margin: 0px 8px 0px 0px;

      background: url("../img/icons/header/shopcart-icon.svg");
      background-repeat: no-repeat;
      background-position: 50% 50%;

      opacity: 0.3;
      transition-duration: 0.3s;
    }

    &:hover {
      background-color: var(--hover-green);
    }

    &:active {
      background-color: var(--active-green);
    }
  }

  &__button--bookmark {
    background-color: var(--white);
    color: var(--nav-darkblue);
    border: 3px solid var(--basic-green);

    &:hover {
      border-color: var(--nav-darkblue);
      color: var(--nav-darkblue);
    }

    &:active {
      opacity: 0.5;
    }
  }

  &--new {
    overflow: hidden;
    &::after {
      content: "NEW";
      display: flex;
      justify-content: center;
      align-items: center;

      width: 100px;
      height: 30px;
      top: 7px;
      right: -26px;
      position: absolute;
      // Шрифты
      font-family: 'Cuprum', 'Arial', sans-serif;
      font-size: 14px;
      line-height: 18px;
            width: 100px;
      height: 30px;

      background-color: var(--basic-red, #EE3643);
      transform: rotate(45deg);
      color: var(--white, white);
      text-transform: uppercase;
    }
  }
}

// Pop - BRANDS

.pop-brands {

  &__header {
  }

  &__img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 145px;
    box-sizing: border-box;
    border: 1px solid var(--brands-border);

    img {
      object-fit: contain;
    }

    &:hover {
      box-shadow: 0px 4px 20px var(--opacity-black-15);
    }

    &:active {
      box-shadow: 0px 4px 20px var(--opacity-black-15);
      opacity: 0.5;
    }
  }

  &__list {
    margin: 0;
    padding: 20px 0px 70px 0px;
    list-style: none;

    // Grid сетка
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(auto, auto);
    gap: 20px;
  }
}

// servixes

.services {
  background-color: var(--basic-gray-background);
  padding: 67px 0px 39px 0px;

  &__title {
    margin: 0px 0px 25px 0px;
    // Шрифты
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    text-transform: uppercase;
  }

  &__sub-title {
    margin: 0px 0px 9px 0px;
        // Шрифты
    font-family: 'PT Sans', "Arial", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    line-height: 24px;
  }

  &__slider {
  }
}

.services-slider {
  display: grid;
  grid-template-columns: 240px 1fr;
  gap: 80px;
  padding: 0;

  &__nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    box-sizing: border-box;
    padding: 61px 0 61px 0;
    position: relative;

    &::after {
      content: "";

      position: absolute;
      width: 10px;
      height: 279px;
      top: 12.5px;
      right: 0px;
      background-image: url("../img/services/slider-shadow.png");
    }
  }

  &__btn {
    @include button-reset;
    padding: 13px 22px 16px 22px;
    color: var(--white);
    text-align: left;
    background-color: var(--nav-darkblue);
    border-top: 1px solid var(--btn-shadow-grey);
    border-bottom: 1px solid var(--basic-darkblue);

    // Шрифты
    font-family: 'Cuprum';
    font-weight: bold;
    font-size: 21px;
    line-height: 30px;

    &:hover {
      background-color:var(--basic-darkblue);
    }
  }

  &__btn--current {
    background-color: var(--white);
    color: var(--nav-darkblue);
    padding: 14px 22px 17px 22px;
    border-top: none;
    border-bottom: none;
    &:hover,
    &:focus,
    &:active {
      background-color: var(--white);
      color: var(--nav-darkblue);
      border-top: none;
      border-bottom: none;
    }
  }

  &__list {
    list-style: none;
    padding: 59px 0 61px 0;
    margin: 0px 0px 0px 0px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    position: relative;
    z-index: 1;

    &:nth-child(1)::after {
      content: "";

      position: absolute;
      top: 20px;
      right: 0;
      width: 468px;
      height: 261px;
      z-index: -1;

      background-image: url("../img/services/slider-1.png");
      background-repeat: no-repeat;
    }

    &:nth-child(2)::after {
      content: "";

      position: absolute;
      top: 0px;
      right: -10px;
      width: 389px;
      height: 261px;
      z-index: -1;

      background-image: url("../img/services/slider-2.png");
      background-repeat: no-repeat;
    }

    &:nth-child(3)::after {
      content: "";

      position: absolute;
      top: 0px;
      right: -10px;
      width: 465px;
      height: 261px;
      z-index: -1;

      background-image: url("../img/services/slider-3.png");
      background-repeat: no-repeat;
    }
  }

  &__item-title {
    margin: 0px 0px 30px 0px;
    // Шрифты
    font-family: 'Cuprum';
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--nav-darkblue);
  }

  &__item-text {
    margin: 0px 0px 0px 0px;
    max-width: 400px;
    // Шрифты
    font-family: 'PT Sans';
    font-weight: normal;
    font-size: 13px;
    line-height: 24px;
  }

  &__btn-request {
    display: inline-block;
    padding: 10px 45px;
    margin-top: 26px;
    border-radius: 4px;
    color: var(--white);
  }
}

// about us

.about-us {
  padding: 70px 0px 70px 0px;

  &__row {
    display: flex;
  }

  &__about {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    margin-right: 100px;

    .about-us__btn {
      width: 220px;
    }
  }

  &__title {
    margin: 0px;
    // Шрифты
    font-family: 'Cuprum';
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
  }

  &__text {
    margin: 0;
    padding: 28px 0px 0px 0px;
    flex: 1 1 auto;
    // Шрифты
    font-family: 'PT Sans';
    font-weight: normal;
    font-size: 13px;
    line-height: 24px;
  }

  &__btn {
    min-width: 220px;
  }

  &__contacts {
    display: flex;
    flex-direction: column;
  }

  &__map {
    margin-bottom: 20px;
  }
}

.delivery {

  &__list {
    list-style: none;
    margin: 0px 0px 10px 0px;
    padding: 0;
  }

  &__item {
    padding-left: 36px;
    margin-bottom: 12px;
    position: relative;
    // Шрифты
    font-family: 'Cuprum';
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;

    &::before{
      content: "";

      position: absolute;
      background-color: var(--basic-red);
      width: 25px;
      height: 2px;
      left: 0;
      top: 50%;
      transform:translateY(-50%);
    }
  }
}

// main (END)--------------------------------------------------------------------------------------------

// footer (START)----------------------------------------------------------------------------------------

// footer-top

.footer-top {
  background-color: var(--nav-darkblue);

  &__row {
    display: flex;
    overflow: visible;
  }

  &__logo {
    padding: 20px 41.5px;
  }

  &__list {
    // обнуление отступов
    padding: 0;
    margin: 0;
    list-style: none;

    display: flex;
    align-items: center;
    margin-left: auto;
    min-height: 100%;
  }

  &__link {
    display: block;
    color: var(--spec-white);
    margin: 0px 0px 0px 59px;
    padding: 34px 0px 0px 0px;

    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;

    &:hover {
      background-size: 100% 2px;
    }

    &:active {
      background-image: none;
      opacity: 0.5;
    }
  }
}

// footer-center

.footer-center {
  background-color: var(--nav-darkblue);
  padding: 27px 0px 53px 0px;

  &__row {
    display: flex;
    justify-content: space-between;
  }

  &__contacts {
    padding: 0px 0px 0px 4px;
    //Шрифты
    line-height: 24px;
    color: var(--spec-white);
  }

  &__address {
    margin: 0;
    padding: 0;
  }

  &__phone {
    //Шрифты
    text-decoration: none;
    line-height: 24px;
    color: var(--spec-white);
  }

  &__list {
    padding: 5px 0px 0px 0px;
    margin: 0;
    list-style: none;

    display: flex;
  }

  &__link {
    cursor: pointer;
    line-height: 24px;
    color: var(--mustard-color);
    margin: 0px 0px 0px 58.8px;

    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;

    &:hover {
      background-size: 100% 2px;
    }

    &:active {
      background-image: none;
      opacity: 0.5;
    }
  }
}

// footer-bottom

.footer-bottom {
  background-color: var(--basic-darkblue);

  &__row {
    display: flex;
    padding: 37px 0px 29px 0px;
  }

  &__copyright {
    margin: 0;
    padding: 0px 0px 0px 12px;
    //Шрифты
    color: var(--white);
    font-size: 16px;
    line-height: 18px;
  }

  &__social {
    flex: 1 1 auto;
    padding-left: 38px;
  }

  &__social-list {
    display: flex;
    flex-wrap:wrap;
    justify-content:center;
    align-items:center;
  }

  &__feedback {
    display: flex;
    flex-wrap:wrap;
  }
}

.social-list {
  list-style: none;
  padding: 0;
  margin: 0;

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;

    text-decoration: none;
    width: 43px;
    height: 43px;
    margin: 0px 1px;
    background-color: var(--spec-social-icon);
    border-radius: 50%;
    transition-duration: 0.3s;

    &:hover,
    &:active {
      background-color: var(--basic-red);
    }
  }
}

.feedback {

  &__item {
    font-size: 16px;
    line-height: 18px;
    margin: 0px 22px 0px 30px;
  }

  &__item--first {
    margin-left: 0;
  }

  &__text {
    margin: 0px 0px 0px 0px;
    //Шрифты
    color: var(--white);
  }

  &__link {
    display: block;
    color: var(--mustard-color);
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;

    &:hover {
      background-size: 100% 2px;
    }

    &:active {
      color:var(--basic-red);
      background-image: none;
    }
  }
}

// footer (END)------------------------------------------------------------------------------------------

// catalog (START)---------------------------------------------------------------------------------------

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  min-height: 59px;
  list-style: none;
  padding: 0;
  margin: 0;
  // Шрифты
  font-family: 'PT Sans';
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--black);

    &__item {
      position: relative;
      margin-right: 40px;
      cursor: pointer;

      &:not(:last-child)::after {
        content:"";

        background-image: url("../img/icons/breadcrumbs/breadcrumbs-arrow.svg");
        width: 8px;
        height: 14px;
        position: absolute;
        top:50%;
        right: -24px;
        transform:translateY(-50%);
      }
    }

    &__home-icon {
      background-image: url("../img/icons/breadcrumbs/icon-home.svg");
      display: block;
      width: 16px;
      height: 14px;
      background-repeat: no-repeat;
    }
}

.popular-header--perforators {
  background-color: var(--spec-title-bg);
  margin-bottom: 20px;
}
// Каталог
.catalog {
  display: grid;
  grid-template-columns: 220px 1fr;
  grid-gap: 20px;
  align-content: start;
  margin-bottom: 59px;

    &__header {
      display: flex;
      flex-wrap: wrap;
      justify-content: start;
      align-items: center;
      padding: 0px 20px;
      background-color: var(--basic-beige);
      border-radius: 5px;
      min-height: 38px;
      // Шрифты
      font-family: 'PT Sans';
      font-weight: normal;
      font-size: 13px;
      line-height: 18px;
      text-transform: uppercase;
    }

    &__filters {
    }

    &__products {
    }

    &__sort {
    }

    &__wrap {
    }

    &__list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(3, auto);
      grid-column-gap: 20px;
      grid-row-gap: 19px;
      align-items: start;
      list-style: none;
      padding: 28px 0px 0px 0px;
      margin: 0;
    }

    &__item {
    }
}

// Фильтры товаров
.filters {

    &__form {
    }

    &__title {
      margin: 0;
    }

    &__type-title {
      padding: 14px 0px 10px 0px;
      // Шрифты
      font-family: 'PT Sans', 'Arial', sans-serif;
      font-weight: bold;
      font-size: 17px;
      line-height: 30px;
      text-transform: uppercase;
      letter-spacing: 0.048px;
    }

    &__price-type {
      border:none;
      margin: 0;
      padding: 2px 0px 26px 0px;
      border-bottom: 1px solid var( --spec-greylight-2);
    }

    &__range-filter {
      width: 100%;
    }

    &__brand-types {
      display: flex;
      flex-direction: column;
      border:none;
      padding: 0px;
      border-bottom: 1px solid var( --spec-greylight-2);
    }

    &__power-type {
      display: flex;
      flex-direction: column;
      border:none;
      padding: 0;
      margin: 0;
    }

    &__submit-btn {
      @include button-reset;
      background-color: var(--white);
      border: 1px solid var(--spec-greylight-2);
      width: 220px;
      height: 38px;
      transition-duration: 0.3s;

      // Шрифты
      font-family: 'PT Sans';
      font-weight: normal;
      font-size: 17px;
      line-height: 18px;

      &:hover {
        background-color: var(--spec-greylight-2);
      }
    }
}

// Фмльтр по цене
.range-filter {

    &__range-control {
      height: 80px;
      background-color: var(--basic-beige, #F7F3EC);
      border-radius: 5px;
      padding-top: 39px;
      box-sizing: border-box;
      padding: 41px 20px 0px 20px;
      margin-bottom: 11px;
      overflow: hidden;
    }

    &__scale {
      position: relative;
      height: 2px;
      background-color: var(--scale-br);
      overflow: visible;
    }

    &__bar {
      width: 80%;
      height: 100%;
      background-color: var(--bar-br);
    }

    &__toggle {
      position: absolute;
      top:50%;
      left: 0%;
      transform: translateY(-50%);
      box-sizing: border-box;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      border-width: 8px;
      border-color: var(--white);
      background-color: var(--togle-br);
      border-style: solid;
      box-shadow: 0 2px 1px 0 var(--togle-shadow);
      cursor: pointer;
    }

    &__toggle-min {
      left: 0%;
    }

    &__toggle-max {
      left: 100%;
    }

    &__price-control {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    &__price-input {
      border-radius: 5px;
      background-color: var(--basic-beige);
      width: 95px;
      text-align: center;
      border: none;
      padding-bottom: 10px;
      padding-top: 8px ;
      box-sizing: border-box;
      // Шрифты
      font-family: 'PT Sans';
      font-size: 17px;
      line-height: 18px;
    }

    &__decorative-dash {
      background-color: var(--decorative-dash);
      width: 9px;
      height: 1px;
      align-self: center;
    }
}

// Фмльтр по бренду
.brand-filter {

  &__checkbox-list {
    padding: 8px 0px 8px 0px;
  }

  &__checkbox {
    margin-bottom: 20px;

  }

  &__checkbox-input {
    -webkit-appearance: none;
    -moz-appearance:none;
    appearance: none;
    position: absolute;
    outline: none;

    &:checked+.brand-filter__checkbox-label .brand-filter__checkbox-spec {
      background-image: url("../img/icons/filter/checkbox-on.svg");
    }

    &:hover+.brand-filter__checkbox-label .brand-filter__checkbox-spec,
    &:active+.brand-filter__checkbox-label .brand-filter__checkbox-spec,
    &:focus+.brand-filter__checkbox-label .brand-filter__checkbox-spec {
      opacity: 1;
    }

    &:disabled+.brand-filter__checkbox-label .brand-filter__checkbox-spec {
      opacity: 0.3;
    }
  }

  &__checkbox-label {
    position: relative;
    padding-left: 32px;
    cursor: pointer;
    display: block;
    word-break: break-word;
    // Шрифты
    font-family: 'PT Sans';
    font-weight: normal;
    font-size: 15px;
    line-height: 19px;
    text-transform: uppercase;
  }

  &__checkbox-spec {
    position: absolute;
    width: 27px;
    min-height: 23px;
    background-image: url("../img/icons/filter/checkbox-off.svg");
    background-repeat: no-repeat;
    left:0;
    top:50%;
    transform: translateY(-50%);
    opacity: 0.75;
  }
}

// Фмльтр по типу питания
.power-filter {
  display: flex;
  flex-direction: column;
  border:none;
  margin: 0;

  &__checkbox-list {
    padding:  17px 0px 15px 0px;
  }

  &__checkbox {
    margin-bottom: 21px;
  }

  &__radio-input {
    -webkit-appearance: none;
    -moz-appearance:none;
    appearance: none;
    position: absolute;
    outline: none;

    &:checked+.power-filter__radio-label .power-filter__radio-spec {
      background-image: url("../img/icons/filter/radio-on.svg");
    }

    &:hover+.power-filter__radio-label .power-filter__radio-spec,
    &:active+.power-filter__radio-label .power-filter__radio-spec,
    &:focus+.power-filter__radio-label .power-filter__radio-spec {
      opacity: 1;
    }

    &:disabled+.power-filter__radio-label .power-filter__radio-spec {
      opacity: 0.3;
    }
  }

  &__radio-label {
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    display: block;
    word-break: break-word;
    // Шрифты
    font-family: 'PT Sans';
    font-weight: normal;
    font-size: 15px;
    line-height: 19px;
    text-transform: uppercase;
  }

  &__radio-spec {
    position: absolute;
    width: 25px;
    height: 26px;
    background-image: url("../img/icons/filter/radio-off.svg");
    opacity: 0.80;
    background-repeat: no-repeat;

    left:0;
    top:50%;
    transform: translateY(-50%);
  }
}

// Сортировка товаров в каталоге
.sort {

    &__title {
      margin: 0;
      // Шрифты
      font-family: 'PT Sans';
      font-weight: normal;
      font-size: 13px;
      line-height: 18px;
    }

    &__types {
      flex: 1 1 auto;
      display: flex;
      flex-wrap: wrap;
      justify-content:flex-end;
      padding: 0px 30px;
    }

    &__type {
      text-decoration: none;
      margin-left: 66px;
      opacity: 0.3;
      color: var(--black);
      text-decoration: underline;
      text-decoration-style: dotted;
      text-decoration-color: var(--basic-red);

      &:hover {
        opacity: 1;
        text-decoration-style: solid;
      }

      &:active {
        color: var(--basic-red);
        text-decoration: none;
      }
    }

    &__type--current {
      color: var(--basic-red);
      opacity: 1;
    }

    &__switch {
      display: flex;
      justify-content: end;
      align-items: center;
      margin-right: -4px;
    }

    &__arrow {
      display: block;
      box-sizing: border-box;
      border-bottom: 10px solid var(--basic-greylight);
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      margin-left: 18px;

      &:hover {
        border-bottom: 10px solid var(--black);
      }

      &:active {
        border-bottom: 10px solid var(--basic-red);
      }
    }

    &__arrow--rotate {
      transform: rotate(180deg);
    }

    &__arrow--current {
      border-bottom: 10px solid var(--basic-red);

      &:hover {
        border-bottom: 10px solid var(--basic-red);
      }
    }
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 45px 0px 0px 0px;

    &__item {
      display: block;
      box-sizing: border-box;
      background-color: var(--white, white);
      border: 1px solid var(--spec-greylight-2);
      border-radius: 3px;
      box-shadow: none;

      text-align: center;
      padding: 8.5px 15.5px 8.5px 15.5px;
      margin-right: 9px;

      &:hover,
      &:focus {
        border-color: var(--basic-grey);
        background-color: var(--white);
      }

      &:active {
        border-color: var(--basic-red);
      }

      a {
        // Шрифты
        font-family: 'PT Sans';
        font-weight: normal;
        font-size: 13px;
        line-height: 18px;
        text-decoration: none;
        text-transform: uppercase;
        color: var(--black);
      }

      &:last-child {
        margin-right: 0px;
        padding-right: 31.5px;
        padding-left: 31.5px;
      }
    }

    &__item--current {
      background-color: var(--basic-red);
      border: none;

      a {
        color: var(--white);
      }

      &:hover,
      &:focus,
      &:active {
        background-color: var(--basic-red);
        a {
          color: var(--white);
        }
      }
    }
}

// about products
.about-products {
  background-color: var( --spec-white-2);

  &__title {
    padding: 64px 0px 25px 0px;
    margin: 0;
    // Шрифты
    font-family: 'Cuprum';
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
  }

  &__text {
    padding: 0px 0px 67px 0px;
    margin: 0;
     // Шрифты
    font-family: 'PT Sans';
    font-weight: normal;
    font-size: 13px;
    line-height: 25px;
  }
}

// catalog (END)-----------------------------------------------------------------------------------------

// pop-up modal (START)----------------------------------------------------------------------------------

// feeedback-modal

.feedback-modal {
  box-sizing: border-box;
  width: 620px;
  bottom: 355px;
  top: auto;

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__form-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 22px 80px 0px 80px;
  }

  &__user-data {
    margin: 0;
    padding: 19px 0px 15px 0px;
    flex: 1 1 auto;
    max-width: 220px;

    label {
      display: block;
      margin-bottom: 10px;
      // Шрифты
      font-size: 18px;
      line-height: 24px;
    }

    input {
      box-sizing: border-box;
      width: 100%;
      padding: 6px 6px 6px 12px;
      border: 2px solid var(--basic-greylight);
      border-radius: 3px;

      &::placeholder {
        // Шрифты
        font-family: 'PT Sans';
        font-size: 13px;
        line-height: 24px;
        color: var(--old-price-color);
      }
    }
  }

  &__text {
    flex: 1 1 auto;
    margin: 0;
    padding: 0px 0px 33px 0px;

    label {
      display: block;
      margin-bottom: 10px;
      // Шрифты
      font-size: 18px;
      line-height: 24px;
    }

    textarea {
      box-sizing: border-box;
      width: 100%;
      padding: 6px 6px 6px 12px;
      height: 114px;
      border: 2px solid var(--basic-greylight);
      border-radius: 3px;
      resize: none;

      &::placeholder {
        // Шрифты
        font-family: 'PT Sans';
        font-size: 13px;
        line-height: 24px;
        color: var(--old-price-color);
      }
    }
  }

  &__send-btn-wrap {
    display: flex;
    padding: 36px 80px 36px 80px;
    background-color: var(--form-bc-grey);

    button {
      @include button-reset;
      flex-grow:1;
      padding: 11px 0px 10px 0px;
    }
  }
}

// map-modal

.map-modal {
  box-sizing: border-box;
  bottom: 333px;
  top:auto;
  width: 943px;
  height: 449px;
}

// shopcard-modal

.shopcart-modal {
  box-sizing: border-box;
  width: 620px;
  top:400px;
  bottom: auto;

    &__title {
      margin: 0;
      padding-right: 95px;
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 165px;
      // Шрифты
      font-family: 'Cuprum';
      font-weight: bold;
      font-size: 24px;
      line-height: 30px;
      position: relative;

      &::before {
        content: "";
        display: inline-block;
        vertical-align: center;

        width: 66px;
        height: 66px;
        margin: 0px 30px 0px 0px;


        background-image: url("../img/icons/modal/icon-mark.svg");
        background-repeat: no-repeat;
        background-position: 50% 50%;
      }
    }

    &__btns {
      display: flex;
      justify-content: center;
      width: 100%;
      text-align: center;
      background-color: var(--form-bc-grey);
      padding: 37px 0px 38px 0px;

      a {
        display: block;
        margin: 0px 5px;
        min-width: 192px;
      }

      .continue {
        color: var(--black);
        background-color: var(--white);
      }
    }
}

// pop-up modal (END)------------------------------------------------------------------------------------
